body {
  margin: 0;
  padding: 0;
}

.main_container {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.right {
  float: right;
  height: 100vh;
}

.frame_image {
  
  float: left;
  width: 25%;
  
  margin: 0;
  padding: 0;
  margin-left: 37%;
  margin-top: 6%;
  position: relative;
  z-index: 1;
}

.button_container{
  
  position: absolute;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 15%;
  margin-left: 10%;
  
}

.camera_image{
  position: absolute;
  margin-top: 8%;
  margin-left: 37%;
  z-index: 0;
}