body {
  margin: 0;
  padding: 0;
}

.main_container {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.right {
  float: right;
  height: 100vh;
  z-index: 2;
  position: relative;
}

.frame_image {
  float: left;
  width: 25%;

  margin: 0;
  padding: 0;
  margin-left: 37%;
  margin-top: 7%;
  position: relative;
  z-index: 3;
}

.button_container {
  position: absolute;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  width: 15%;
  margin-left: 15%;
  gap: 14%;
  height: 60vh;
}

.but1 {
  width: 80%;

  /* margin-left: 20%; */
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
  z-index: 1;
}

.but1:hover {
  /* opacity: 1; */
  background-color: #f72585;
  color: white;
  cursor: pointer;
}

.but1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 600%;
  border-bottom: 3px solid white;
}

.but2 {
  width: 80%;
  /* margin-left: 20%; */
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but2:hover {
  background-color: #f72585;
  color: white;
  cursor: pointer;
}

.but2::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 600%;
  border-bottom: 3px solid white;
}

.but3 {
  width: 80%;
  /* margin-left: 20%; */
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but3:hover {
  background-color: #f72585;
  color: white;
  cursor: pointer;
}

.but3::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 600%;
  border-bottom: 3px solid white;
}

.but4 {
  width: 80%;
  /* margin-left: 20%; */
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but4:hover {
  background-color: #f72585;
  color: white;
  cursor: pointer;
}

.but4::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 600%;
  border-bottom: 3px solid white;
}

.camera_image {
  position: absolute;
  margin-top: 7.75%;
  margin-left: 37%;
  z-index: 2;
}

.portrait-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
}

.portrait-message {
  text-align: center;
  margin: 0;
}

.rotate{
  width: 80%;
}

@media screen and (max-width: 900px) {
  .frame_image {
    float: left;
    width: 25%;

    margin: 0;
    padding: 0;
    margin-left: 37%;
    margin-top: 10%;
    position: relative;
    z-index: 3;
  }

  .camera_image {
    position: absolute;
    margin-top: 10.25%;
    margin-left: 37.5%;
    z-index: 2;
  }

  .but1 {
    width: 80%;
  
    /* margin-left: 20%; */
    padding-top: 5%;
    padding-bottom: 5%;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    opacity: 0.7;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: #f72585;
    z-index: 1;
  }

  .but2 {
    width: 80%;
    /* margin-left: 20%; */
    padding-top: 5%;
    padding-bottom: 5%;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    opacity: 0.7;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: #f72585;
  }

  .but3 {
    width: 80%;
    /* margin-left: 20%; */
    padding-top: 5%;
    padding-bottom: 5%;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    opacity: 0.7;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: #f72585;
  }

  .but4 {
    width: 80%;
    /* margin-left: 20%; */
    padding-top: 5%;
    padding-bottom: 5%;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    opacity: 0.7;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: #f72585;
  }

  .rotate{
    width: 80%;
  }


}
